.title{
    -fx-text-fill: mediumturquoise;
    -fx-font-weight: 900;
    -fx-font-size: 48pt;
}

.bold{
    -fx-font-weight: bold;
}

.root{
    -fx-background-color: darkslateblue;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15pt;
}

.button{
    -fx-background-color: mediumturquoise;
    -fx-font-size: 18pt;
    -fx-font-weight: 900;
    -fx-pref-width: 170;
    -fx-pref-height: 70;
    -fx-min-height: 70;
}
